<section>
  <p style="font-size: 1.5em; text-align: center;">Hola, soy <strong>Nahuel Sotelo</strong></p>
  <p style="text-align: center;">Frontend developer en <a href="http://www.schibsted.es/">Schibsted Spain</a> y Profesor de la asignatura Programación Frontend en el Master de <a href="http://www.baued.es/es/estudios/masters-y-posgrados/master-en-diseno-web">Diseño Web de Bau</a>.</p>

  <ul class="social">
    <li><a href="https://github.com/nahuelsotelo" class="is--github">Github</a></li>
    <li><a href="https://es.linkedin.com/in/nahuelsotelo" class="is--linkedin">Linkedin</a></li>
    <li><a href="https://twitter.com/nahuelsotelo" class="is--twitter">Twitter</a></li>
  </ul>
</section>

<section>
  <h2>Contenidos</h2>
  <ol>
    <li>Introducción</li>
    <li>Guía de estilos de código</li>
    <li>Arquitectura de carpetas</li>
    <li>Componentes modulares</li>
    <li>Especificidad</li>
    <li>Selectores</li>
    <li>Sistemas de Nomenclatura</li>
    <li>Conclusiones</li>
  </ol>
</section>
