<section>

<section>
  <h1>Introducción</h1>
</section>

<section data-markdown>
<script type="text/template">
  ## ¿Por qué?

  - Trabajar en un equipo de varios developers
  (_Incluir y reemplazar miembros de un equipo. Codigo similar en diferentes proyectos_)

  - Generar un código mantenible y escalable
  (_Cuando estamos trbajando no pensamos que alguien tendrá que mantener ese codigo o que se añadiran mas funcionalidades pero pasará)

  - Reutilizar código
  (_si tenemos fragmentos de codigo reutilizables sin demasiada dependencia a un proyecto en concreto seremos mas rapidos en futuros proyectos. Tampoco hay que pasarse con la abstracción_)
</script>
</section>

<section data-markdown>
<script type="text/template">
  ## ¿Cómo?

  - Generando un código **organizado**, **estructurado** y bien **documentado**
  - Fragmentando el código en pequeños trozos (componentes/módulos/objetos) independientes.
  (_Esto nos permitirá trabajar en una parte concreta de nuestra aplicación sin afectar al resto)
  - Separando los componentes de su contexto.
  - Refactorizando continuamente.

</script>
</section>

<section data-markdown>
<script type="text/template">
## Enlaces relacionados

- [“Breaking Good Habits”](https://vimeo.com/44773888) —_Harry Roberts_
- [“CSS Architectures: Scalable and Modular Approaches”](http://www.sitepoint.com/css-architectures-scalable-and-modular-approaches/) —_Denise Jacobs_

</script>
</section>

</section>
