<section>

  <section>
    <h1>Introducción</h1>

    <aside class="notes">
      <p>¿Por qué es importante cuidar el código y tener buenas prácticas?</p>
    </aside>
  </section>

  <section>
    <h2>¿Por qué?</h2>
    <ul>
      <li>Trabajar en un equipo de varios developers.</li>
      <li>Generar un código mantenible y escalable.</li>
      <li>Reutilizar código.</li>
    </ul>

    <aside class="notes">
      <ol>
        <li>Incluir y reemplazar miembros de un equipo. Codigo similar en diferentes proyectos</li>
        <li>Cuando estamos trbajando no pensamos que alguien tendrá que mantener ese codigo o que se añadiran más funcionalidades, pero pasará.</li>
        <li>Si tenemos fragmentos de codigo reutilizables sin demasiada dependencia a un proyecto en concreto seremos mas rápidos en futuros proyectos. Tampoco hay que pasarse con la abstracción.</li>
      </ol>
    </aside>
  </section>

  <section>
    <h2>¿Cómo?</h2>
    <ul>
      <li>Generando un código <strong>organizado</strong>, <strong>estructurado</strong> y bien <strong>documentado</strong></li>
      <li>Fragmentando el código en pequeños trozos (componentes/módulos/objetos) independientes</li>
      <li>Separando los componentes de su contexto</li>
      <li>Refactorizando continuamente</li>
    </ul>

    <aside class="notes">
      <p>Esto nos permitirá trabajar en una parte concreta de nuestra aplicación sin afectar al resto</p>
    </aside>
  </section>

  <section>
    <h2>Enlaces relacionados</h2>
    <ul>
      <li><a href="https://vimeo.com/44773888">“Breaking Good Habits”</a> - <i>Harry Roberts</i></li>
      <li><a href="http://www.sitepoint.com/css-architectures-scalable-and-modular-approaches/">“CSS Architectures: Scalable and Modular Approaches”</a> - <i>Denise Jacobs</i></li>
    </ul>
  </section>
</section>
