<section>
<section>
  <h1>Guía de estilos de código</h1>
</section>

<section>
  <p>Una guía de estilos:</p>
  <ul>
    <li>Aumenta la coherencia de los documentos.</li>
    <li>Facilita la lectura del código de nuestros compañeros.</li>
    <li>Disminuye la cantidad de errores.</li>
    <li>Refuerza las buenas prácticas.</li>
  </ul>
</section>

<section>
  <p class="h7">Ejemplos:</p>
  <ul>
    <li><a href="http://cssguidelin.es/">CSS Guidelines</a></li>
    <li><a href="http://sass-guidelin.es/">Sass Guidelines</a></li>
    <li><a href="http://primercss.io/guidelines/">Primer (Github)</a></li>
    <li><a href="http://codeguide.co/">Code Guide by @mdo</a></li>
  </ul>

  <aside class="notes">
    <p>Estas guías también van muy bien como herramienta de aprendizaje para ver cómo trabaja otra gente.</p>
  </aside>
</section>

<section>
  <p>Existen herramientas que nos ayudarán a que todos los miembros del equipo sigan las pautas definidas.</p>
  <ul>
    <li>Sass Lint</li>
    <li>CSS Comb</li>
  </ul>
</section>
</section>
