<section>

  <section>
    <h1>Arquitectura de carpetas</h1>
  </section>

  <section>
    <p>Es recomendable centralizar los estilos en un <strong class="fragment highlight-blue">ùnico fichero</strong> (<code>main.css</code>, <code>style.css</code>) que no contenga reglas, únicamente <code>@import</code> a otros ficheros.</p>

    <div>
      <img src="./img/sass-wallpaper.jpg" alt="" style="height: 350px">
    </div>
    <small>Wallpaper by <a href="https://twitter.com/julien_he">Julien He</a></small>

    <aside class="notes">
      <p>Puede haber más de uno dependiendo las necesidades. Por ejemplo en una guía de estilos, si tenemos soporte para algun navegdor concreto o si tenemos estilos que sólo se cargan en una página.</p>

      <p>Comentar sobre HTTP2.</p>

    </aside>
  </section>



  <section>
    <p>Podemos encontrar varias arquitecturas en internet pero es importante conseguir una que se adapte a <strong>las necesidades de nuestro proyecto</strong>.</p>
    <p>La clave está en tener claro la función de cada selector que utilicemos y ubicarlo en el archivo correspondiente.</p>
  </section>

  <section>
    <h2>
      Un ejemplo: <br>
      <a href="http://sass-guidelin.es/#the-7-1-pattern">El patrón 7-1</a>
    </h2>
  </section>

  <section>
    <p>7 carpetas, 1 archivo:</p>
    <pre><code class="hljs css">
  sass/
  |
  |– base/
  |   |– _reset.scss
  |   |– _typography.scss
  |   ...
  |
  |– components/
  |   |– _buttons.scss
  |   |– _carousel.scss
  |   |– _cover.scss
  |   |– _dropdown.scss
  |   ...
  |
  |– layout/
  |   |– _navigation.scss
  |   |– _grid.scss
  |   |– _header.scss
  |   |– _footer.scss
  |   |– _sidebar.scss
  |   |– _forms.scss
  |   ...
  |
  |– pages/
  |   |– _home.scss
  |   |– _contact.scss
  |   ...
  |
  |– themes/
  |   |– _theme.scss
  |   |– _admin.scss
  |   ...
  |
  |– utils/
  |   |– _variables.scss
  |   |– _functions.scss
  |   |– _mixins.scss
  |   |– _helpers.scss
  |
  |– vendors/
  |   |– _bootstrap.scss
  |   |– _jquery-ui.scss
  |   ...
  |
  |
  `– main.scss
    </code></pre>
  </section>

  <section>
    <ul>
      <li>
        <p class="h7">base/</p>
        <p class="fz-m">Es el punto de partida del proyecto (reset, tipografía, etc). Los selectores de esta carpeta tendrán una especificidad muy baja, probablemente la mayoría serán elementos.</p>
      </li>

      <li>
        <p class="h7">layout/</p>
        <p class="fz-m">Todo aquello referente al layout de nuestro sitio: grid, header, footer, sidebar, etc. Aquellos componentes que se repiten página a página.</p>
      </li>

      <li>
        <p class="h7">components/</p>
        <p class="fz-m">El core de nuestra web. Todos aquellos componentes reutilizables que utilizaremos a lo largo de nuestra web.</p>
      </li>
    </ul>
  </section>

  <section>
    <ul>
      <li>
        <p class="h7">pages/</p>
        <p class="fz-m">Estilos específicos para una página en concreto.</p>
      </li>
      <li>
        <p class="h7">themes/</p>
        <p class="fz-m">Si nuestro sitio tiene algun tipo de sistema de theming, podemos hacer uso de esta carpeta. En caso contrario puede omitirse.</p>
      </li>
      <li>
        <p class="h7">utils/</p>
        <p class="fz-m">Variables, funciones, mixins o cualquier otro tipo de helper. Lo normal es que los contenidos de esta carpeta no se compilen en el fichero .css.</p>
      </li>
      <li>
        <p class="h7">vendors/</p>
        <p class="fz-m">Estilos que no hemos creado nosotros: librerías como Bootstrap o estilos que acompañen algún plugin que estemos utilizando.</p>
      </li>
    </ul>

    <aside class="notes">
      <p>Recomendar el adaptar esta estructura a las necesidades de nuestro proyecto (enfoque Lean).</p>
      <p>Comentar la arquitectura que estoy usando ahora (components / utils / vendors).</p>
    </aside>
  </section>

  <section>
    <pre><code class="hljs sass">
  @import 'utils/variables';
  @import 'utils/functions';
  @import 'utils/mixins';
  @import 'utils/placeholders';

  @import 'vendors/bootstrap';
  @import 'vendors/jquery-ui';

  @import 'base/reset';
  @import 'base/typography';

  @import 'layout/navigation';
  @import 'layout/grid';
  @import 'layout/header';
  @import 'layout/footer';
  @import 'layout/sidebar';
  @import 'layout/forms';

  @import 'components/buttons';
  @import 'components/carousel';
  @import 'components/cover';
  @import 'components/dropdown';

  @import 'pages/home';
  @import 'pages/contact';

  @import 'themes/theme';
  @import 'themes/admin';
    </code></pre>
  </section>

  <section>
    <h2>Enlaces relacionados:</h2>
    <ul>
      <li>
        <a href="http://www.sitepoint.com/look-different-sass-architectures/">“A Look at Different Sass Architectures”</a> - <i>Vinay Raghu</i>
      </li>
  </section>
</section>
