<section>
  <section>
    <h1>Componentes modulares</h1>
  </section>

  <section>
    <blockquote>
      <p>“It's a repeating visual pattern, that can be abstracted into an independent snippet of HTML, CSS and possibly JavaScript.”</p>
      <footer>- Nicole Sullivan</footer>
    </blockquote>
  </section>

  <section>
    <h2>Características de un componente:</h2>
    <ul>
      <li>Son un fragmento de la interfaz que cumple una única función.</li>
      <li>Son independientes, tanto de su contexto como del resto de componentes.</li>
      <li>Son reutilizables.</li>
      <li>Son autocontenidos, no filtran estilos a otros componentes.</li>
    </ul>

    <aside class="notes">
      <p>Separados del layout. Su relación con el contexto se gestiona por separado.</p>
      <p>El CSS de un componente tiene que tener una logica interna, que debe apreciarse leyendo el código.</p>
    </aside>
  </section>

  <section>
    <h2>Enlaces relacionados:</h2>
    <ul>
      <li><a href="http://blog.millermedeiros.com/solid-css/">Solid Css</a></li>
      <li><a href="http://csswizardry.com/2012/04/the-single-responsibility-principle-applied-to-css/">The single responsibility principle applied to CSS</a></li>
    </ul>
  </section>
</section>
