<section>
  <section>
    <h1>Especificidad</h1>
  </section>

  <section>
      <p>En CSS, la <em>especificidad</em>, es lo que determina que estilo será el que acabará aplicandose a un elemento determinado.</p>
      <p>Cuando a un elemento se le aplica <strong>más de un selector con reglas que actúan sobre la misma propiedad</strong>, es la especificidad la encargada de resolver este conflicto.</p>
  </section>

  <section>
      <p>A grandes rasgos podemos ordenar los diferentes tipos de selectores de menor a mayor peso específico de la siguiente manera:</p>
      <ol>
          <li>Selectores de elemento</li>
          <li>Selectores contextuales</li>
          <li>Clases</li>
          <li>IDs</li>
      </ol>
  </section>

  <section>
      <h2>Calcular especificidad</h2>
  </section>

  <section>
      <p class="specificity"><span class="specificity__inline">0</span>,<span class="specificity__id">0</span>,<span class="specificity__class">0</span>,<span class="specificity__element">0</span></p>
  </section>

  <section>
      <pre class="specificity__example">
<span class="specificity__element">p</span> {
  color: red;
}</pre>
      <hr>
      <p class="specificity"><span class="specificity__inline">0</span>,<span class="specificity__id">0</span>,<span class="specificity__class">0</span>,<span class="specificity__element">1</span></p>
  </section>

  <section>
      <pre class="specificity__example">
<span class="specificity__class">.text</span> {
  color: red;
}</pre>
      <hr>
      <p class="specificity fragment"><span class="specificity__inline">0</span>,<span class="specificity__id">0</span>,<span class="specificity__class">1</span>,<span class="specificity__element">0</span></p>
  </section>

  <section>
      <pre class="specificity__example">
<span class="specificity__id">#main</span> <span class="specificity__element">strong</span> {
  color: red;
}</pre>
      <hr>
      <p class="specificity fragment"><span class="specificity__inline">0</span>,<span class="specificity__id">1</span>,<span class="specificity__class">0</span>,<span class="specificity__element">1</span></p>
  </section>

  <section>
      <pre class="specificity__example" style="font-size: 2rem;">
<span class="specificity__element">header</span> <span class="specificity__element">ul</span><span class="specificity__id">#main-nav</span> <span class="specificity__class">.sub-menu</span> <span class="specificity__element">li</span><span class="specificity__class">.child</span> <span class="specificity__element">a</span><span class="specificity__class">:hover</span> {
  color: red;
}</pre>
      <hr>
      <p class="specificity fragment"><span class="specificity__inline">0</span>,<span class="specificity__id">1</span>,<span class="specificity__class">3</span>,<span class="specificity__element">4</span></p>
  </section>

  <section>
      <pre class="specificity__example" style="font-size: 2rem;">
&#60;p <span class="specificity__inline">style="color: red"</span>&#62;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&#60;/p&#62;</pre>
      <hr>
      <p class="specificity fragment"><span class="specificity__inline">1</span>,<span class="specificity__id">0</span>,<span class="specificity__class">0</span>,<span class="specificity__element">0</span></p>
  </section>

  <section>
      <pre class="specificity__example">
<span class="specificity__element">p</span> {
  color: red <span style="color: red";>!important</span>;
}</pre>
      <hr>
      <p class="specificity specificity--important">
          <span class="specificity__important-wrap"><span class="specificity__inline">0</span>,<span class="specificity__id">0</span>,<span class="specificity__class">0</span>,<span class="specificity__element">1</span></span>
          <span class="specificity__important-wrap"><span class="specificity__inline">0</span>,<span class="specificity__id">0</span>,<span class="specificity__class">0</span>,<span class="specificity__element">0</span></span></p>
  </section>

  <section>
    <h2>Enlaces relacionados:</h2>
    <ul>
      <li>
        <a href="https://css-tricks.com/strategies-keeping-css-specificity-low/">“Strategies for Keeping CSS Specificity Low”</a> - <i>Chris Coyier</i>
      </li>

      <li>
        <a href="http://csswizardry.com/2011/09/when-using-ids-can-be-a-pain-in-the-class/">“When using IDs can be a pain in the class...”</a> - <i>Harry Roberts</i>
      </li>
  </section>
</section>
