<section>
  <section>
    <h1>Selectores</h1>
  </section>

  <section>
    <h3>Carcterísticas de un buen selector</h3>
    <ul>
      <li>Tiene baja especificidad</li>
      <li>Es sólido (no depende del contexto)</li>
      <li>Es autodocumentado (su función se entiende solo con leerlo)</li>
    </ul>
  </section>

  <section>
    <h2>Curva de especificidad</h2>
  </section>

  <section>
    <h2>Ciclomandanga</h2>
  </section>

  <section>
    <h2>Nomenclaturas</h2>
    <blockquote>
      "What we want is to be able to write code that is as transparent and self-documenting as possible. Transparency means that it is clear and obvious (to others) in its intent; self-documenting means that we don’t have to lose time to writing and reading lengthy, supplementary documentation."
      <footer>- Harry Roberts</footer>
    </blockquote>
  </section>
</section>
