<section>
  <section>
    <h1>Cómo continuar</h1>
  </section>

  <section>
    <h2 class="h7">Aprender y adaptar:</h2>
    <p class="fz-m">Es importante seguir leyendo y mirando los diferentes frameworks o soluciones que va creando la comunidad pero siempre adaptándolos a nuestras necesidades. <strong>No al copy-paste</strong>.</p>

    <h2 class="h7">Practicar:</h2>
    <p class="fz-m">Aplicar las buenas prácticas siempre que se pueda, la mayoría son universales y no dependen del tamaño o naturaleza del proyecto.</p>

    <h2 class="h7">Divide y vencerás:</h2>
    <p class="fz-m">Intentar repartir nuestro código en pequeños trozos manejables. Evitar los archivos de 2000 líneas.</p>
  </section>

  <section>
    <h2 class="h7">Documentar:</h2>
    <p class="fz-m">Dejar nuestro código bien documentado nos ayudará a volver sobre nuestros proyectos pasado un tiempo sin perder la razón, además de ayudar a otros developers que trabajen con el mismo.</p>
    <p class="fz-m">Documentar también nos ayuda a reflexionar sobre lo que hemos hecho y fijar conceptos.</p>

    <h2 class="h7">Refactor constante:</h2>
    <p class="fz-m">No tener miedo al refactor siempre y cuando se haga con las precauciones adecuadas. Si hemos seguido buenas prácticas refactorizar no debería ser muy costoso.</p>
  </section>
</section>

<section>
  <h1>¡Grácias!</h1>
</section>
