<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="reveal">
    <div class="slides">
      <section>
        <h1 style="font-size: 7rem; margin-bottom: 1rem;"><strong>{{ page.lesson_title }}</strong></h1>
        <div><small style="border-top: 1px dotted rgba(0,0,0,.6); display: inline-block; padding: 1.5rem 6rem 0;"><i>por</i> <a href="http://nahuelsotelo.com">Nahuel Sotelo</a></small></div>
      </section>

      {{ content }}

    </div>
  </div>

  {% include scripts-footer.html %}

</body>
</html>
