.reveal {
  p,
  blockquote {
    text-align: left;
    box-shadow: none;
  }
  blockquote {
    width: 90%;

    footer {
      border-top: 2px dotted rgba(0,0,0, .3);
      margin-top: 1rem;
      padding-top: 1rem;
      text-align: right;
      font-style: italic;
      font-size: 1.2em;
      font-weight: 100;
    }
  }

  ul {
    display: block;
  }

  pre {
    width: 100%;
  }
  .small {
    font-size: .8em;
    opacity: .7;
  }
  a {
    text-decoration: underline;
  }
  .h7,
  .fz-m {
    margin-top: 0;
  }
  .h7 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: .25rem;
  }
  .fz-m {
    font-size: 1.75rem;
  }

  .fz-s {
    font-size: 1.5rem;
  }

  .specificity {
    color: #333;
    font-family: "Oswald", Impact, sans-serif;
    font-size: 8rem;
    line-height: 1.2;
    margin-top: 10rem;
    text-align: center;

    span {
      background: rgba(0,0,0, .2);
      box-shadow: inset 0 0 10px rgba(0,0,0, .5);
      display: inline-block;
      margin: 0 1rem;
      padding: 2rem 3rem;
      position: relative;

      &:after {
        font-family: "Open sans", sans-serif;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1;
        position: absolute;
        top: -3rem;
        left: 0;
        right: 0;
        text-align: center;
      }
    }
  }
  .specificity__inline    { color: hsl(0, 60%, 45%);   }
  .specificity__id        { color: hsl(45, 60%, 45%);  }
  .specificity__class     { color: hsl(90, 60%, 45%);  }
  .specificity__element   { color: hsl(185, 60%, 45%); }

  .specificity {
    .specificity__inline:after {
      content: 'Style attribute';
      top: -5rem;
    }
    .specificity__id:after {
      content: 'IDs';
    }
    .specificity__class:after {
      content: 'Class, \00000apseudo-class,\00000a attribute';
      font-size: 1.5rem;
      top: -5.5rem;
      white-space:pre;
    }
    .specificity__element:after {
      content: 'Elements';
    }
  }
  .specificity__example {
    box-shadow: none;
    margin: 1rem 0 3rem;
    font-size: 3rem;
  }
  .specificity--important {
    margin-top: 1rem;

    span {
      font-size: 4rem;
      margin: 0 1rem;
      padding: 0 1rem;
      position: relative;

      &:after {
        display: none;
      }
    }
  }
  .specificity {
    .specificity__important-wrap {
      background: transparent;
      box-shadow: none;
      margin: 0;
      padding: 1rem 0;

      &:first-of-type {
        outline: 1px solid red;
      }
    }
  }
}
