.reveal {
  p,
  blockquote {
    text-align: left;
    box-shadow: none;
  }
  blockquote {
    font-size: .9em;
    width: 90%;


    footer {
      border-top: 2px dotted rgba(0,0,0, .3);
      margin-top: 1rem;
      padding-top: 1rem;
      text-align: right;
      font-style: italic;
      font-size: 1.1em;
      font-weight: 100;
    }
  }

  ul {
    display: block;
  }

  pre {
    width: 100%;
  }
  .small {
    font-size: .8em;
    opacity: .7;
  }
  a {
    text-decoration: underline;
  }
  .h7,
  .fz-m {
    margin-top: 0;
  }
  .h7 {
    font-family: inherit;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: 2rem;
    margin-bottom: .25rem;
    text-transform: none;
    text-align: left;
  }
  .fz-m {
    font-size: 1.75rem;
  }

  .fz-s {
    font-size: 1.5rem;
  }

  .specificity {
    color: #333;
    font-family: "Oswald", Impact, sans-serif;
    font-size: 8rem;
    line-height: 1.2;
    margin-top: 10rem;
    text-align: center;

    span {
      background: rgba(0,0,0, .2);
      box-shadow: inset 0 0 10px rgba(0,0,0, .5);
      display: inline-block;
      margin: 0 1rem;
      padding: 2rem 3rem;
      position: relative;

      &:after {
        font-family: "Open sans", sans-serif;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1;
        position: absolute;
        top: -3rem;
        left: 0;
        right: 0;
        text-align: center;
      }
    }
  }
  .social {
    margin-top: 3rem;
    padding-top: 1rem;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      font-size: 1.5rem;
      padding: 0 .5rem;
    }

    a {
      background-repeat: no-repeat;
      display: block;

      &:before {
        background-size: contain;
        content: '';
        display: block;
        margin: 0 auto .25rem;
        width: 3rem;
        height: 3rem;

      }
      &.is--github:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2278%22%20height%3D%2278%22%20viewBox%3D%220%200%2078%2078%22%3E%3Cpath%20fill%3D%22%230E7983%22%20d%3D%22M77%2038.9c0%2020.9-17%2038.1-38%2038.1s-38-17.2-38-38.1c0-20.9%2017-37.9%2038-37.9s38%2017%2038%2037.9zm-28.5%2031c13.1-4.6%2022.6-16.6%2022.6-31%200-17.7-14.3-32-32.1-32-17.7%200-32.1%2014.3-32.1%2032%200%2014.5%209.7%2026.6%2023%2031v-6.1c0-3.7%201.5-5.5%203.1-6.6-8.2-.9-17.1-3.8-17.1-18.1%200-4%201.4-7.3%203.8-9.8-.4-1-1.6-4.6.4-9.7%200%200%203.1-1%2010.1%203.8%202.9-.8%206-1.2%209.1-1.2%203.2%200%206.2.4%209.2%201.2%207-4.7%2010.1-3.8%2010.1-3.8%202%205%20.8%208.7.4%209.7%202.4%202.6%203.8%205.8%203.8%209.8%200%2014.2-8.8%2017.2-17.1%2018.1%201.5%201.1%203.1%203%203.1%206.6v6.1h-.3z%22%2F%3E%3C%2Fsvg%3E');
      }

      &.is--linkedin:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2278%22%20height%3D%2278%22%20viewBox%3D%220%200%2078%2078%22%3E%3Cpath%20fill%3D%22%230E7983%22%20d%3D%22M71.4%201h-64.8c-3.1%200-5.6%202.5-5.6%205.5v65c0%203%202.5%205.5%205.6%205.5h64.8c3.1%200%205.6-2.5%205.6-5.5v-65c0-3-2.5-5.5-5.6-5.5z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M12.3%2029.5h11.3v36.3h-11.3v-36.3zm5.6-18c3.6%200%206.5%202.9%206.5%206.5s-2.9%206.5-6.5%206.5-6.5-2.9-6.5-6.5%202.9-6.5%206.5-6.5%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M30.6%2029.5h10.8v5h.2c1.5-2.9%205.2-5.9%2010.7-5.9%2011.4%200%2013.5%207.5%2013.5%2017.3v19.9h-11.3v-17.7c0-4.2-.1-9.6-5.9-9.6-5.9%200-6.8%204.6-6.8%209.3v17.9h-11.2v-36.2z%22%2F%3E%3C%2Fsvg%3E');
      }
      &.is--twitter:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2278%22%20height%3D%2278%22%20viewBox%3D%220%200%2078%2078%22%3E%3Cpath%20fill%3D%22%230E7983%22%20d%3D%22M77%2015.2c-2.7%201.2-5.9%202.1-9%202.5%203.1-1.9%205.7-5%206.9-8.5-2.9%201.9-6.3%203.1-9.8%203.7-2.9-3.1-6.9-5-11.3-5-8.6%200-15.5%206.8-15.5%2015.3%200%201.2.2%202.3.4%203.5-13.2-.5-24.5-6.7-32.3-16-1.3%202.3-2.1%205-2.1%207.6%200%205.4%202.7%2010.1%206.9%2012.8-2.5%200-5-.8-7.1-1.9v.2c0%207.4%205.4%2013.7%2012.6%2015.1-1.3.4-2.7.6-4.2.6-1%200-1.9%200-2.9-.2%201.9%206.2%207.7%2010.5%2014.5%2010.7-5.2%204.1-12.2%206.6-19.3%206.6-1.3%200-2.5%200-3.8-.2%206.9%204.5%2015.1%207%2023.9%207%2028.7%200%2044.4-23.4%2044.4-43.8v-2.1c3.1-2.1%205.6-4.8%207.7-7.9z%22%2F%3E%3C%2Fsvg%3E');
      }
    }
  }

  .specificity__inline    { color: hsl(0, 60%, 45%);   }
  .specificity__id        { color: hsl(45, 60%, 45%);  }
  .specificity__class     { color: hsl(90, 60%, 45%);  }
  .specificity__element   { color: hsl(185, 60%, 45%); }

  .specificity {
    .specificity__inline:after {
      content: 'Style attribute';
      top: -5rem;
    }
    .specificity__id:after {
      content: 'IDs';
    }
    .specificity__class:after {
      content: 'Class, \00000apseudo-class,\00000a attribute';
      font-size: 1.5rem;
      top: -5.5rem;
      white-space:pre;
    }
    .specificity__element:after {
      content: 'Elements';
    }
  }
  .specificity__example {
    box-shadow: none;
    margin: 1rem 0 3rem;
    font-size: 3rem;
  }
  .specificity--important {
    margin-top: 1rem;

    span {
      font-size: 4rem;
      margin: 0 1rem;
      padding: 0 1rem;
      position: relative;

      &:after {
        display: none;
      }
    }
  }
  .specificity {
    .specificity__important-wrap {
      background: transparent;
      box-shadow: none;
      margin: 0;
      padding: 1rem 0;

      &:first-of-type {
        outline: 1px solid red;
      }
    }
  }
}
